<openerp>
    <data>
        <menuitem sequence="0" id="menu_bestja" name="Aplikacja"/>
        <menuitem sequence="1" id="menu_messages" name="Wiadomości"/>
        <menuitem sequence="2" id="menu_management" name="Zarządzanie"/>
        <menuitem sequence="3" id="menu_stores" name="Sklepy"/>
        <menuitem sequence="4" id="menu_administration" name="Administracja"/>
        <menuitem sequence="5" id="menu_settings" name="Ustawienia"/>
        
        <!-- Add Messages menu item to BestJa -->
        <menuitem name="Messaging" id="mail.mail_feeds" parent="bestja_base.menu_bestja" sequence="0"/>
        <!-- hide the regular messaging menu -->
        <record id="mail.mail_feeds_main" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
        </record>
        <delete id="mail.mail_tomefeeds" model="ir.ui.menu"/>
        <!-- Add messages to menu messages ;) -->
        <menuitem name="Messaging" id="mail.mail_feeds" parent="bestja_base.menu_messages" sequence="0"/>
        <!-- hide the regular messaging menu -->
        <record id="mail.mail_feeds_main" model="ir.ui.menu">
            <field name="groups_id" eval="[(6, 0, [ref('base.group_no_one')])]"/>
        </record>
        <delete id="mail.mail_tomefeeds" model="ir.ui.menu"/>
    </data>
</openerp>
